.data{
width: 200px;
height: 200px;
background-color: lightgreen;
display: flex;
margin-top: 15px;
flex-direction: column;
text-align: center;
justify-content: center;
margin: auto;
}

.data span,p {
    font-size: 20px;
}
.cont{
 
    margin: auto;
}